@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    color: #444;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
}

h1 {
    color: black;
    font-size: 6rem;
    text-align: center;
}

form {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: 400px;
}

form.completed {
    display: none;
}

.input {
    border: none;
    color: #444;
    font-size: 2rem;
    padding: 1rem 2rem;
    display: block;
    width: 100%;
}

.input::placeholder {
    color: #d5d5d5;
}

.input:focus {
    outline-color: rgb(179, 131, 226);
}

.todos {
    background-color: #fff;
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-top: 2rem;
    width: 50%;
}

.todos li {
    border-top: 1px solid #e5e5e5;
    font-size: 1rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
}

.todos li.completed {
    color: #b6b6b6;
    text-decoration: line-through;

    button {
        display: none;
    }
}

.todos button {
    border: none;
    color: black;
    cursor: pointer;
}

small {
    color: #b5b5b5;
    margin-top: 3rem;
    text-align: center;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 10% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* Shadow for a bit of depth */
}

/* Form inside the modal */
#editForm {
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  box-shadow: none;
}

/* Input fields inside the form */
#editForm input, #editForm textarea {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Buttons inside the form */
#editForm button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

/* Save button */
#saveBtn {
  background-color: #4CAF50;
  color: white;
}

/* Cancel button */
#cancelBtn {
  background-color: #f44336;
  color: white;
}
